[submodule "FreeRTOS-Labs/Source/FreeRTOS-Plus-FAT"]
	path = FreeRTOS-Labs/Source/FreeRTOS-Plus-FAT
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-FAT.git
[submodule "FreeRTOS-Labs/Source/FreeRTOS-Plus-POSIX"]
	path = FreeRTOS-Labs/Source/FreeRTOS-Plus-POSIX
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-POSIX.git
[submodule "FreeRTOS/Source"]
	path = FreeRTOS/Source
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
